.navbar{
    justify-content: space-between !important;
    padding: 10px 0px 0px 0px !important;
}

.nav-text{
    padding-left: 40px !important;
    color: #3a484b;
}

.nav-text-servise{
    padding-right: 40px !important;
    color: #3a484b;
}

.nav-text-potfolio{
    color: #a8d4dd !important; 
    background-color: #3a484b !important;
    padding-left: 40px;
}

span{
    font-family: 'Times New Roman', Times, serif;
}

.time-new-roman{
    font-family: 'Times New Roman', Times, serif;
}

.template-container{
    background-color: #a8d4dd;
    height: 450px;
}

.container{
    width: 924px !important;
}

.template{
    height: 310px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.bottons{
    justify-content: center;
}

.button-all{
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-web{
    border-radius: 10px;
    border: 2px solid #ffff;
    margin-right: 20px;
}
.a-button-web{
    padding: 6px 15px !important;
}

.buttons-recent{
    margin-right: 20px;
}

.botton-template-white{
    border-radius: 100%;
    border: solid #ffff;
    background-color: #ffff;
    width: 15px;
    height: 15px;
    margin: 5px;
}

.botton-template{
    border-radius: 100%;
    border: solid #ffff;
    width: 15px;
    height: 15px;
    margin: 5px;
}

.logos{
    align-items: center;
    justify-content: center;
    height: 340px;
}

.image-pc{
    width: 298px;
    height: 273px;
}

.container{
    width: 920px;
}

.template{
    justify-content: space-between;
    padding-top: 67px;
    height: auto;
}

.text-principal{
    font-size: 45px;
    width: 387px;
    text-align: center;
}

.pc-png{
    padding-right: 106px ;
}

.phone{
    width: 100px;
    margin-bottom: 20px;
}

.light{
    width: 60px;
    margin-bottom: 20px;
}

.bg-logo{
    background-color: #ffff;
}

.document-logos{
    width: 102px;
    margin-bottom: 30px;
}

.text-center{
    color: #808080;
}

.title-ideas{
    color: #3D3D3D;
}

.container-recent-work{
    background-color: #97d2a4;
    height: 860px;
}

.recent-work{   
    padding: 30px;
}

.list-recent-work{
    font-size: 14px;
}

.button-all-recent{
    color: #808080 !important;
    background-color: rgb(255, 255, 255) !important;
    padding: 7px 9px !important;
    font-size: 13px;
}

.title{
    align-items: center;
    margin-right: 40px;
}

.title-template{
    font-size: 24px;
    color: #3a484b;
}

.template-logo{
    margin-right: 10px;
    font-size: 33px;
    color: #3a484b;
}

.title-recent-work{
    text-align: center;
    color: #ffff;
    font-size: 37px;
    font-family: 'Roboto Serif', serif;
}

.recent-work-lorem{
    text-align: center;
    font-size: 10px;
    margin: auto;
    width: 320px;
    color: #ffffff8a;
}

.menu-recent-work{
    justify-content: space-around;
    margin-top: 40px;
}

.images-recent-work{
    margin: auto;
    margin-top: 48px;
    width: 893px;
}

.images-recent{
    width: 247px;
    height: auto;
}

.button-show-more{
    background-color: #ffff !important;
    color: #808080 !important;
    font-size: 13px !important;
    display: flex !important;
    margin: auto;
    margin-top: 70px;
    padding: 10px !important;
}

.container-layered{
    background-color: #f1f1f1;
    height: auto;
}

.conatiner-documents-layered{
    padding-top: 50PX;
    padding-bottom: 60px;
}

.conatiner-documents-layered-down{
    padding-bottom: 60px; 
    margin-top: 60px;
}

.images-layered-up{
    width: 220px;
    height: 168px;
    margin-right: 50px;
}

.hr-layered{
    background-color: #0000000d;
}

.images-layered-down{
    width: 220px;
    height: 168px;
    margin-left: 50px;
}

.button-layered-show-more{
    background-color: #97d2a4 !important;
    color: #ffff !important;
    font-size: 13px !important;
    padding: 13px !important;
}

.title-layered{
    font-size: 23px;
}

.button-down-layered-show-more{
    background-color: #a8d4dd !important;
    color: #ffff !important;
    font-size: 13px !important;
    padding: 13px !important;
}

.container-meet{
    background-color: #e1b6c7;
    height: 600px;
}

.meet-our-team{   
    padding-top: 30px;
}

.card-meet{
    width: 233px;
}

.title-meet{
    text-align: center;
    color: #ffff;
    font-size: 37px;
    font-family: 'Roboto Serif', serif;
}

.title-card-meet{
    font-family: 'Roboto Serif', serif;
    font-size: 20px;
}

.container-card-meet{
    text-align: center;
    height: 350px;
    justify-content: space-between;
    margin-top: 40px;
}

.image-meet-card{
    width: 230px;
    height: 130px;
    margin: auto;
}

.meet-lorem{
    text-align: center;
    font-size: 10px;
    margin: auto;
    width: 320px;
    color: #ffffff8a;
}

.facebook-meet{
    color: hsl(228deg 60% 40%);
    font-size: 30px;
    margin-right: 5px;
}

.twitter-meet{
    color: #23a8fb;
    font-size: 30px;
    margin-right: 5px;
}

.pinterest-meet{
    color: #dc143d;
    font-size: 30px;
}

.card{
    border-radius: 0px!important;
}

.card-text{
    font-size: 14px;
    color: #808080;
}

.container-recent{
    background-color: #a8d4dd;
    height: 610px;
}


.recent-posts{   
    padding-top: 30px;
}

.title-recent{
    text-align: center;
    color: #ffff;
    font-size: 37px;
    font-family: 'Roboto Serif', serif;
}

.card-recent{
    width: 253px
}

.recent-lorem{
    text-align: center;
    font-size: 10px;
    margin: auto;
    width: 320px;
    color: #ffffff8a;
}

.title-card-recent{
    font-family: 'Roboto Serif', serif;
    font-size: 20px;
}

.container-card-recent{
    text-align: center;
    height: 295px;
    justify-content: space-between;
    margin-top: 40px;
}

.image-recent-card{
    width: 250px !important;
    height: 130px;
    margin: auto;
}

.button-show-more-recent{
    background-color: #ffff !important;
    color: #a8d4dd !important;
    font-size: 13px !important;
    display: flex !important;
    margin: auto;
    margin-top: 70px;
    padding: 10px !important;
}

.card-text-recent{
    font-size: 10px;
    color: #808080;
    margin-top: 8px;
}

.subtitle-recent{
    font-size: 12px;
    color: #808080;
    margin-bottom: 5px;
}

.footer{
    background-color: #3D3D3D;
    height: 700px;
}

.title-contac{
    padding-top: 50px;
    text-align: center;
    color: #d3cfd0;
    font-size: 37px;
    font-family: 'Roboto Serif', serif;
}

.contac-lorem{
    text-align: center;
    font-size: 11px;
    margin: auto;
    width: 320px;
    color: #d3cfd0;
    padding-bottom: 15px;
}

.type-text-name{
    margin: auto !important;
    width: 460px !important;
    margin-top: 50px !important;
    height: 46px !important;
}

.type-text-email{
    margin: auto !important;
    width: 460px !important;
    margin-top: 20px !important;
    height: 46px !important;
}

.type-text-message{
    margin: auto !important;
    width: 460px !important;
    margin-top: 20px !important;
    height: 140px !important;
    border-radius: 5px !important;
}

.button-show-more-contact{
    background-color: #ffff !important;
    color: #3D3D3D !important;
    font-size: 13px !important;
    display: flex !important;
    margin: auto;
    margin-top: 30px;
    padding: 10px !important;
    margin-bottom: 60px;
}

hr{
    background-color: black;
    size: 10px;
}

.footer-logo-twitter{
    font-size: 35px;
    margin-top: 10px;
    margin-right: 10px;
    color: hsl(0deg 0% 32%);
}

.footer-logo-facebook{
    font-size: 35px;
    margin-top: 10px;
    margin-right: 10px;
    color: hsl(0deg 0% 32%);
}

.footer-logo-html{
    font-size: 35px;
    margin-top: 10px;
    margin-right: 10px;
    color: #525252;
}

.footer-logo-flickr{
    font-size: 35px;
    margin-top: 10px;
    color: hsl(0deg 0% 32%);
}

.container-footer{
    justify-content: space-between;
    align-items: center;
}

.text-footer{
    color: #e1bf75;
}

.footer-copyright{
    color: #808080;
    margin-right: 10px;
}

.footer-powered{
    color: #808080;
}